@import url("components/navigation.css");
@import url("components/profile_links.css");
@import url("components/languages.css");
@import url("components/main_section.css");

body {
  background-color: rgba(240, 240, 240, 1);
  background-image: url('../images/background.jpeg');
  background-size: cover;
}

.section {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px auto;
  text-align: center;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #061A40;
  text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

#table {
  text-align: center;
}

#table td {
  padding: 0 20px;
}

a {
  text-decoration: none;
}

#lewagon {
  color: #c3413b;
  font-weight: 700;
}

#lewagon:hover {
  color: #DE040A;
}

.container {
  width: 50%;
  margin: 0 auto;
  z-index: 10;
}

ul {
  padding: 0px;
  font-size: 30px;
  margin: 0 auto
}

.section li {
  display: inline-block;
  margin: 10px;
}

.section a {
  color: rgba(200, 200, 200, 1);
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

.movie {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
