@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/section.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: 'Chakra Petch', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.list-inline li {
  display: inline-block;
}
.list-inline {
  list-style: none;
}
