#languages {
  text-align: center;
}

#java:hover {
 color: #ec9738;
}

#android:hover {
  color: #a6bd4f;
}

#apple:hover {
  color: #636363;
}

.language {
  padding: 0 30px;
}

#ruby:hover {
  color: #da5a5a;
}

#html:hover {
  color: #ce5434;
}

#css:hover {
  color: #296cae;
}

#js:hover {
  color: #f2dd4f;
}
